body{
	font-family: 'Poppins', sans-serif;
}
*{
		padding: 0;
		margin: 0;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
header{
	background: #f6f6f6;
	padding: 22px 0;
}
.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}
.header-container a{
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}
.header-container a:hover{
	background: #ffea00;
}
#menu-checkbox{
	display: none;
}
ul{
	display: flex;
}
nav{
	margin-top:20px;
}
.top-slide{
	background: url(img/slider_bg1.jpg) no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 280px;
}
.top-container{
	width: 85%;
	margin: 0 auto;
}
.top-slide h2{
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}
.top-slide :nth-child(2){
	margin-bottom: 10px;
}
.top-slide p{
	background: #414146;
	color: #fff;
	display: inline;
	font-size: 24px;
	padding: 0 4px;
}

.specialize-container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.specialize-container p{
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 40px;  
}

.specialize-container h3{
	color: #424147;
	font-size: 35px;
}
.first-p{
	font-size: 20px;
	color:#fff;
	padding: 17px 0 29px 0;
}
.bottom-card{
	background: #414146;
	position: relative; /*    ????????  */
	top: -30px;
}
.specialize-cards{
	display: flex;
	justify-content: space-between;
}
.top-card2{
	background: #ffea00;
	height: 200px;
	width: 250px;
	margin: 0 auto;
	padding-bottom: -11px;
}
.top-card2 img{
	width: 100px;
	height: 100px;
	margin-top: 20px; 
}
.card .second-p{
	font-size: 13px;
	color: #fff;
	padding: 27px 25px;
	margin-bottom: 30px;
}
.top-card{
	width: 250px;
	height: 200px;
}
.portfolio{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.portfolio h4{
	background: #424147;
	padding: 0 8px;
	display: inline-block;
	color: #f5e10a;
	font-size:18px;
	margin-bottom: 30px;
}
.portfolio p{
	font-size: 16px;
	color: #424147;
}
.toggles button{
	border:none;
	color: #424147;
	cursor: pointer;
	font-size: 16px;
	margin:20px 5px;
	background: none;
}
.toggles button:after{
	content: '/';
}
.toggles button:last-child:after{
	content: '';
}
.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto auto;
}
.posts img{
	cursor: pointer;	
}
.posts img:hover{
	opacity: 0.9;
}
.brand-slider{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}
.brand-slider h4{
	margin-top:40px;
	background: #424147;
	padding: 0 8px;
	display: inline-block;
	color: #f5e10a;
	font-size:18px;
	margin-bottom: 30px;
}
.brand-slider p{
	font-size: 16px;
	color: #424147;
	margin-bottom: 30px;
}
.owl-carousel{
	cursor: pointer;
}
footer{
	background: #414146;
	padding: 30px 0px;
	color: #fff;

}
footer h4{
	font-size: 18px;
}
footer .head{
	padding-bottom: 30px;
}
.footer-container{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 3%;
}
.footer-container .about-us a{
	background: #000;
	border-bottom: 2px solid #ffea00;
	color: #fff;
	font-size: 15px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 40px;
	display: inline-block;
}
.images{
	margin-top: 10px;
	cursor: pointer;
}
.images img:hover{
	opacity: 0.9;
}
.tweets p{
	margin-bottom: 30px;
}
.tweets img{
	padding-right: 2px;
	cursor: pointer;
}
.social{
	margin-top:48px;
	margin-bottom: 10px;
}
span{
	color: #ffea00;
}
.contacts img{
margin-right: 15px;
}
.contacts p{
	margin-bottom: 30px;
}
#textarea{
	background: transparent;
	border: none;
    border-bottom: 1px solid #ffea00;
}
.footer-container button{
	background: url(img/sms.png);
	height: 30px;
	width: 30px;
	border: none;
}
.paticka{
	background: #000;
}
.footer-names{
	width: 50%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 3%;
	text-align: center;
}
.footer-names a:hover{
background: #ffea00;
color: #000;
}
.footer-names a{
	color: #fff;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}











@media screen and ( max-width: 420px){
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;  
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		width: 100%;
		display: block;  
		font-size: 12px;
	}
	.main-menu a{
		display: block;   
		padding: 8px;
	}
	.toggle-button{
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}
	.toggle-button:after{
	content: attr(data-open);
	display: block;
	}

	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-right: -65px;
	}
	.main-menu{
		position: relative;
		top: 20px;
		right: 10px;
	}
	.top-slide {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.top-slide h2{
		font-size: 32px;
	}
	.top-slide p {
		font-size: 16px;
	}
	.specialize-container h3 {
		font-size: 25px;
	}
	.specialize-container p {
		font-size: 16px;
	}
	.specialize-cards{
		display: flex;
		flex-direction: column;

	}
	.bottom-card {
		width: 250px;
		margin: 0 auto;
	}
	.top-card{
		margin: 0 auto;
	}
	.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto;
	}
	.posts img{
    width: 100%;
    height: auto;
    }
    .footer-container{
    	width: 100%;
    	display: grid;
    	grid-template-columns: auto;
   		grid-template-rows: auto auto auto;
   		margin: 0 auto;
   		text-align: center;

    }
    .footer-names{
    	width: 100%;
    	margin: 0 auto;
    }
     .footer-names h4{
     	font-size: 12px;
     	text-align: center;
     }



}